.jumbotron {
  padding-top: 6rem;
  background-color: #deecf1;
}
#projects {
  background-color: #deecf1;
}
section {
  padding-top: 5rem;
}
.opacity {
  opacity: 0.6;
  transition: 0.3s;
}
.opacity:hover {
  opacity: 1;
}
